"use strict";

interface Config {
  send_to: string;
  total_emails: number;

  server: {
    hostname: string;
    port: number;
    tls: boolean;
    user: string;
    pass: string;
  };
}

export let config: Config = {
  send_to: "email@example.tld",
  total_emails: 100,

  server: {
    hostname: "mail.example.tld",
    port: 465,
    tls: true,
    user: "username@email.tld",
    pass: "AAAAAAA",
  },
};
